@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Routing
@using SpyStore.MVC.DataAccess
@model ProductWithCategoryName

<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="product">
        <img src="@Url.Content(WebAPICalls.ImageLocation+Model.ProductImage)" />
        <div class="price">@Html.DisplayFor(x => x.CurrentPrice)</div>
        <div class="title-container">
            <h5><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">@Html.DisplayFor(x => x.ModelName)</a></h5>
        </div>
        <div class="model-number">
            <span class="text-muted">Model Number:</span> @Html.DisplayFor(x => x.ModelNumber)
        </div>
        @if (ViewBag.ShowCategory)
        {
            <a asp-controller="Category"
               asp-action="ProductList"
               asp-route-id="@Model.CategoryId"
               class="Category">@Model.CategoryName</a>
        }
        @if (!string.IsNullOrEmpty(ViewBag.CustomerId))
        {
            <a asp-controller="Cart"
               asp-action="AddToCart"
               asp-route-customerId="@ViewBag.CustomerId"
               asp-route-Id="@Model.Id"
               asp-route-quantity="1"
               asp-route-returnUrl="@ViewBag.ReturnUrl"
               class="btn btn-primary btn-cart"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login"
               asp-route-returnUrl="@Url.Action(new UrlActionContext
                                    {
                                        Controller = "Cart",
                                        Action = "AddToCart",
                                        Values = new
                                        {
                                            customerId = -1,
                                            Id = Model.Id,
                                            returnUrl = ViewBag.ReturnUrl
                                        }
                                    })" class="btn btn-primary btn-cart"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart</a>
        }
    </div>
</div>
